<div class="row" [formGroup]="form">

    <p class="mt-2">Selecione as tabelas relacionadas:</p>
    <div class="col-md-2" formArrayName="joins"
        *ngFor="let item of getJoinsControls(); let i = index">
        <div class="form-check">
            <input class="form-check-input" type="checkbox"
                value="editors" id="editors-table" [formControlName]="i" (change)="OnChange()">
            <label class="form-check-label" for="editor-table">{{joins[i]}}</label>
        </div>
    </div>

    <div class="col-md-12 mb-2 mt-2">
        <label for="filter-select" class="mb-1">Selecione os filtros</label>
        <ng-select formControlName="filters" id="filter-select"
            [multiple]="true" name="filter-select">
            <ng-option *ngFor="let filter of filters" [value]="filter.name">{{filter.name}}</ng-option>
        </ng-select>
    </div>

    <div class="col-md-12 mb-2 mt-2" >
        <label for="campos-select" class="mb-1">Selecione os campos</label>
        <ng-select formControlName="campos" id="campos-select" [multiple]="true" name="campos-select">
          <ng-option *ngFor="let campo of campos" [value]="campo.value">{{campo.nome}}</ng-option>
        </ng-select>
    </div>
</div>
