<section class="p-5">
    <div class="card h-100 p-4">
        <form action class="w-100 h-100" [formGroup]="tableForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="table-select" class="mb-1">Escolha uma
                            tabela</label>
                        <ng-select
                            [items]="tables"
                            formControlName="table"
                            (change)="onChange()">
                        </ng-select>
                    </div>
                </div>

                <ng-container *ngIf="this.tableForm.value.table === 'characters'">
                    <app-characters [form]="tableForm" formControlName="filters"></app-characters>
                </ng-container>

                <ng-container *ngIf="this.tableForm.value.table === 'movies'">
                    <app-movies [form]="tableForm"></app-movies>
                </ng-container>

                <ng-container *ngIf="this.tableForm.value.table === 'super-power'">
                    <app-super-power [form]="tableForm"></app-super-power>
                </ng-container>

                <ng-container *ngIf="this.tableForm.value.table === 'volumes'">
                    <app-volumes [form]="tableForm"></app-volumes>
                </ng-container>

                <ng-container *ngIf="this.tableForm.value.table === 'editors'">
                    <app-editors [form]="tableForm"></app-editors>
                </ng-container>

            </div>
            <pre>{{tableForm.value | json}}</pre>
        </form>
    </div>
</section>
